.headerBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;

    .img-box {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
        }



    }

}