@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Prata&display=swap');

.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;


    .rowi {
        margin-top: 30px;
        width: 80%;
        display: flex;
        justify-content: space-between;

        .divi {
            span {
                position: absolute;
                transform: translateX(10px) translateY(4px);

            }

            select {
                background-color: transparent;
                padding: 5px 15px 5px 30px;
                color: white;
                border-radius: 4px;
                font-size: 15px;

                option {
                    color: black;

                }
            }

            .btnn {
                background-color: red;
                margin-left: 18px;
                padding: 4px 15px 4px 15px;
                border-radius: 2px;
                color: white;
                // font-weight: bold;

                border: none;
            }
        }
    }

}

@media(max-width:500px) {
    .headerBox {
        flex-direction: row;

        .rowi {
            width: 100%;

            .divi {
           

                img {
                    width: 100px;
                }

                select {
                    width: 40px;

                    option {
                        text-align: left;
                        width: 40px;
                    }
                }
            }
        }
    }
}