.homepage{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%) , url("../../public/images/back.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
    width: 100%;
    height: 120vh;
    overflow: hidden;
}